<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @subs_payment.name %>
</p>

<%= link_to 'Edit', edit_subs_payment_path(@subs_payment) %> |
<%= link_to 'Back', subs_payments_path %>
