<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @payment_state.name %>
</p>

<%= link_to 'Edit', edit_payment_state_path(@payment_state) %> |
<%= link_to 'Back', payment_states_path %>
