<% if current_user.person_info.person_type_id == 'D'%>
	<div class="container" style="min-width: 75%">
		<div id="comment"></div>
		<div class="w3-bar w3-card" style="background: #92d36e">
			<button class="w3-bar-item w3-button tablink w3-black w3-card-4 w3-hover-white" style="color: white" onclick="openCity(event,'General');"><b>General Appointments</b></button>
		    <button class="w3-bar-item w3-button tablink w3-card-4 w3-hover-white" style="color: white" onclick="openCity(event,'PDS');"><b>Personal Doctor Service Appointments</b></button>  
		 </div>
		
		
		<div id="General" class="w3-container w3-display-container city w3-border w3-card" style="display:; margin-bottom: 5%">
		  <br />
		    <%= render :partial=> 'doctor_general_awaiting_appointments' %>
		</div>
		
		<div id="PDS" class="w3-container w3-display-container city w3-border w3-card" style="display: none; margin-bottom: 5%">
		  <br />
		    <%= render :partial=> 'doctor_pds_awaiting_appointments' %> 
		</div>
	
		<br /><br />
		<div class="clearfix"></div>
	
	</div>
	
<% elsif current_user.person_info.person_type_id == 'N'%>
	<div class="container" style="min-width: 75%">
		<div id="comment"></div>
		<div class="w3-bar w3-card" style="background: #92d36e">
			<button class="w3-bar-item w3-button tablink w3-black w3-card-4 w3-hover-white" style="color: white" onclick="openCity(event,'General');"><b>New Appointments</b></button>
		    <!-- <button class="w3-bar-item w3-button tablink w3-card-4 w3-hover-white" style="color: white" onclick="openCity(event,'PDS');"><b>Personal Doctor Service Appointments</b></button>   -->
		 </div>
		
		
		<div id="General" class="w3-container w3-display-container city w3-border w3-card" style="display:; margin-bottom: 5%">
		  <br />
		    <%= render :partial=> 'doctor_general_awaiting_appointments' %>
		</div>
		
		<!-- <div id="PDS" class="w3-container w3-display-container city w3-border w3-card" style="display: none; margin-bottom: 5%">
		  <br />
		    <%#= render :partial=> 'doctor_pds_awaiting_appointments' %> 
		</div> -->
	
		<br /><br />
		<div class="clearfix"></div>
	
	</div>
<%end%>
<script>
function openCity(evt, cityName) {
  var i, x, tablinks;
  x = document.getElementsByClassName("city");
  for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < x.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" w3-black", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " w3-black";
}
</script>
