<br />
<div class="row">
	<div class="col-md-4 col-xs-12"></div>
	<div class="col-md-4 col-xs-12 w3-card-4 w3-round-large" >
		<h4>Add a staff to <%= @provider_name %> </h4>
        <%= render 'form' %>

	</div>
	<div class="col-md-4 col-xs-12"></div>
</div>
<br /><br />

