<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @subscription_remark.name %>
</p>

<%= link_to 'Edit', edit_subscription_remark_path(@subscription_remark) %> |
<%= link_to 'Back', subscription_remarks_path %>
