
<br />
<div class="row">
	<div class="col-md-3 col-xs-12"></div>
	<div class="col-md-6 col-xs-12 w3-card-4 w3-round-large">
		<!-- <br /> -->
		<h4>System Role Details</h4>
		<table class="table table-condensed table-bordered table-striped">
			 <tr><td class="w3-teal"><strong>Role: </strong></td><td style="padding-left: 6%""><%= @role.name %></td></tr>
			 <tr><td class="w3-teal" ><strong>Remark: </strong></td><td style="padding-left: 6%""><%= @role.comment%></td></tr>
			 <tr><td class="w3-teal" ><strong>Added By: </strong></td><td style="padding-left: 6%""><%= @role.user_id %></td></tr>
			 
	
			 <% if @role.active_status == true %>  
	      		<tr><td class="w3-teal"><strong>Status: </strong></td><td style="padding-left: 6%"> Active </td></tr>
	      		
			 <%elsif @role.active_status == false %>
			      		<tr><td class="w3-teal"><strong>Status: </strong></td><td style="padding-left: 6%; color: red">Inactive</td></tr>
			 <% end %>	
		</table>
				
		<%= link_to 'Back', roles_path , class: "w3-left w3-button w3-small w3-round-large w3-blue w3-hover-blue" %>
	   <br /><br />
	</div>
	<div class="col-md-3 col-xs-12"></div> 
</div>
<br />  

<script type="text/javascript">
$(document).ready(function(){
  setTimeout(function(){
    $('#notes').remove();
  }, 4000);
 });
</script>