
<br />
<div class="row">
	<div class="col-md-3 col-xs-12"></div>
	<div class="col-md-6 col-xs-12 w3-card-4 w3-round-large" >
		<h4>Edit City </h4>
		<%= render :partial => 'edit_form' %>
	</div>
	<div class="col-md-3 col-xs-12"></div>
</div>
<br />