 <div id="id01" class="w3-modal w3-card-4 w3-round-large w3-left" style="display: block;">
    <div class="w3-modal-content w3-animate-bottom w3-card-4 w3-light-gray w3-left" style="width: 10%; max-height: 80%; overflow-y: auto;">	
      <header class="w3-container"> 
        <h4>Confirm Appointment</h4> 
      </header>          
           <div class="w3-container" > 						      	
              
               <div class="form-inputs">
                  Helooooooooo
              </div>
           </div>
        <br>
      <footer class="w3-container">
       	Back
        <br />
      </footer>
      <br />
    </div>
    <br />
</div>